.body{
    width: 100vw;
    height: 100vh;
}
.body-wrapper{
    width: 100%;
    height: 100%;
    background-color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-screen{
    width: 900px;
    height: 580px;
    border-radius: 10px;
    overflow: hidden;
    /* transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center; */
}
.slider-wrapper{
    display: flex;

}
.slide > img {
    width: 900px;
    height: 530px;
    display: flex;
    flex-direction: column;
}
.slide-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color:darkgrey;
}
.slide-text > span{
    display: inline-block;
}
.buttons-slider{
display: flex;
}
.button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: crimson;
    margin: 5px;
    opacity: 0.7;
    transition: all 0.3s ease;
    cursor: pointer;
}
.button:hover{
    opacity: 1;
    transform: scale(1.2);
}