.body{
    width: 100vw;
    height: 100vh;
}
.body-wrapper{
    width: 100%;
    height: 100%;
    background-color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-screen{
    width: 900px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}
.slider-wrapper{
    width: 400%;
    height: 100%;
    display: flex;

}
.slide{
    width: 25%;
    height: 100%; 
}
.slide > img {
    width: 100%;
    height: 100%;
    height: 530px;
    display: flex;
    flex-direction: column;
}
.slide-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 50px;
    font-family: 'Koulen', cursive;
    font-size: 16px;
    background-color:darkgrey;
}
.slide-text > span{
    display: inline-block;
}
.buttons-slider{
display: flex;
}
.button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: crimson;
    margin: 5px;
    opacity: 0.7;
    transition: all 0.3s ease;
    cursor: pointer;
}
.button:hover{
    opacity: 1;
    transform: scale(1.2);
}
.input-block{
    width: 0;
    height: 0;
}
input[name="radio-button"]{
    visibility: hidden;
}
#slide1:checked ~ .dot{
    margin-left: 0;
}
#slide2:checked ~ .dot{
    margin-left: -25%;
}
#slide3:checked ~ .dot{
    margin-left: -50%;
}
#slide4:checked ~ .dot{
    margin-left: -75%;
}